.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    padding: 0 1rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem;
    padding: 1rem 2rem;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #3e8e41;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}

.github-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #333;
    font-size: 40px;
    cursor: pointer;
}

.github-icon:hover {
    color: #4078c0;
}
